<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mycat:server SYSTEM "server.dtd">
<mycat:server xmlns:mycat="http://io.mycat/">
  <system>  
  <!--分布式事务开关，0为不过滤分布式事务，1为过滤分布式事务（如果分布式事务内只涉及全局表，则不过滤），2为不过滤分布式事务,但是记录分布式事务日志-->
  <property name="processors">4</property>
  <property name="processorExecutor">8</property>
  <property name="serverPort">8066</property>  
  <property name="managerPort">9066</property>   
  </system>
    <!-- mycat usernama password  -->
    <user name="test">  
        <property name="password">pass</property>  
        <property name="schemas">dt_carproduct,flowengine,dt_payment,dt_hotel,dt_carorderinfo,dt_orderprocess,dt_infoservice,dt_itmanage,dt_srm,dt_tmcjurisdiction,dt_ticketeterm,dt_platform,dt_interticketproduct,dt_trainproduct,dt_crmjurisdiction,dt_travel,dt_charging</property>
    </user>  

    <user name="hotel">
        <property name="password">pass</property>
        <property name="schemas">dt_hotel,dt_charging</property>
    </user>
  
</mycat:server> 
