[Unit]
Description=Tomcat Server
After=network.target

[Service]
Type=forking

Restart=on-failure
Environment='TOMCAT_JAVA_HOME={{ JAVA_HOME_PATH.stdout }}'

Environment='CATALINA_HOME={{ tomcat_work_dir }}'
Environment='CATALINA_BASE={{ tomcat_work_dir }}'
{% if tomcat_apr_lib_dir and tomcat_use_apr %}
Environment='LD_LIBRARY_PATH=$LD_LIBRARY_PATH:{{ tomcat_apr_lib_dir }}/.libs:{{ tomcat_work_dir }}/lib'
{% endif %}

{% if tomcat_catalina_opts not in (None, "") %}
Environment='CATALINA_OPTS={{ tomcat_catalina_opts }}'
{% else %}
Environment='CATALINA_OPTS=-Xms512M -Xmx2048M -server -XX:+UseParallelGC'
{% endif %}

{% if tomcat_java_opts not in (None, "") %}
Environment='JAVA_OPTS={{ tomcat_java_opts }}'
{% else %}
Environment='JAVA_OPTS=-Djava.awt.headless=true'
{% endif %}

ExecStart={{ tomcat_work_dir }}/bin/startup.sh
ExecStop={{ tomcat_work_dir }}/bin/shutdown.sh

User={{ tomcat_user_name }}
Group={{ tomcat_group_name }}

[Install]
WantedBy=multi-user.target
